p {
  background-color: #111;
  border-bottom: #555 solid 1px;
  color: #bbb;
  margin: 0;
  display: flex;
  height: 36;
  line-height: 3
}
i {
  margin-top: 4;
  white-space: pre;
  line-height: 14px;
  font-style: unset
}
a {
  width: 160;
  color: #bbb;
  text-indent: 8;
  text-decoration: unset
}
u {
  width: 104;
  word-spacing: 8;
  text-decoration: unset
}
s {
  margin-left: 2;
  color: #aaa;
  font-family: tahoma,sans-serif;
  font-size: 9;
  text-decoration: unset
}
select {
  background-color: #111;
  border: #555 solid 1px;
  color: #bbb;
  margin: 4;
  font-size: 12;
  outline: 0
}
[s] {
  background-color: #230
}
[a] {
  background-color: #420
}
[i] {
  background-color: #034
}
input {
  all: unset;
  flex-grow: 1
}
body {
  background-color: #000;
  font-family: arial,meiryo,sans-serif;
  font-size: 12;
  font-feature-settings: "palt";
  margin: 0 max(0px, calc(50% - 220px)) 36;
  overflow: clip scroll
}