p {
  background-color: #111;
  border-bottom: 1px solid#555;
  color: #ccc;
  margin: 0;
  display: flex;
  content-visibility: auto;
  box-sizing: border-box;
  white-space: pre;
  padding: 14+0+0+8;
  line-Height: 16px;
  Height: 60
}
u {
  word-spacing: 6;
  line-Height: 20px;
  text-decoration: unset;
  width: 120
}
#p {
  background-color: #111;
  border: 1px solid#555;
  color: #ccc;
  margin: 8+4;
  outline: 0
}
#n {
  position: sticky;
  padding-top: 0;
  z-index: 8;
  line-Height: 64px;
  top: 0
}
[s] {
  background-color: #230
}
[a] {
  background-color: #420
}
[i] {
  background-color: #034
}
:first-line {
  font-size: 15
}
:any-link {
  font-size: 11;
  color: #ccc;
  text-decoration: unset;
  width: 150
}
body {
  background-color: #000;
  font-size: 13;
  font-family: arial,sans-serif;
  font-feature-settings: "palt";
  text-transform: capitalize;
  margin: 0 auto;
  overflow-y: scroll;
  max-width: 480
}
#r {
  all: unset;
  flex-grow: 1;
  margin-top: 4
}
.a {
  display: none
}