
a {
  width: 116;
  text-underline-offset: 2px;
  text-decoration-color: #999;
  font-family: arial,sans-serif;
  text-decoration-skip-ink: none
}
i {
  white-space: pre;
  font: 12px/1 arial,sans-serif;
  color: #aaa;
  margin: 4 0 0 8
}
.p {
  display: none
}
p {
  display: flex;
  height: 32;
  text-align: initial;
  margin: 0
}
#p {
  background-color: #222;
  position: sticky;
  top: 0
}
#i {
  background-color: #222;
  color: #bbb;
  margin: 4;
  border: 1px solid #666;
  outline: 0
}
#u {
  letter-spacing: 0
}
#a {
  all: unset;
  font-family: arial,sans-serif;
  flex-grow: 1
}
:first-line {
  color: #bbb
}
u {
  display: contents;
  letter-spacing: -1
}
:root {
  color: #bbb;
  margin: -8 max(0px,calc(50% - 212px)) 32;
  text-align: center;
  font: 12px/32px menlo,consolas,monospace;
  font-feature-settings: 'palt';
  color-scheme: Dark;
  overflow: clip scroll
}